#
# Loopback parameters
#

# Allowed CORS regex
ALLOWED_CORS=*

#
# Database parameters
#

# Server address
DB_HOST=postgres
DB_PORT=5432

# Database name
DB_NAME=auditable-accounting

# User credentials
DB_USER=auditable-accounting
DB_PASS=changeme

#
# Blockchain parameters
#

# Descriptive name
WEB3_PROVIDER_NAME=i3MarketNetwork

# Node url
WEB3_PROVIDER=http://95.211.3.244:8545

# Smart contract address
WEB3_SC_ADDR=0x0AB7E5aBCB1b2198c683303756d835097c80c453

# Private key of the account
WEB3_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

# Gas limit per transaction
WEB3_GAS=400000
