#
# Loopback parameters
#

# Public URL to build OAS
LB_URL=http://localhost:8080

# Allowed CORS regex
ALLOWED_CORS=*

#
# Database parameters
#

# Server address
DB_HOST=95.211.3.244
DB_PORT=5432

# Database name
DB_NAME=auditable-accounting

# User credentials
DB_USER=auditable-accounting
DB_PASS=changeme

# SSL parameters
DB_CA=changeme
DB_CRT=changeme
DB_KEY=changeme

#
# Blockchain parameters
#

# Descriptive name
WEB3_PROVIDER_NAME=i3MarketNetwork

# Node url
WEB3_PROVIDER=http://95.211.3.244:8545

# Smart contract address
WEB3_SC_ADDR=0x42699A7612A82f1d9C36148af9C77354759b210b

# Private key of the account
WEB3_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

# Gas limit per transaction
WEB3_GAS=400000
