#
# Loopback parameters
#

# Allowed CORS regex
ALLOWED_CORS=*

#
# Database parameters
#

# Server address
DB_HOST=cockroach
DB_PORT=26257

# Database name
DB_NAME=defaultdb

# User credentials
DB_USER=root

#
# Blockchain parameters
#

# Descriptive name
WEB3_PROVIDER_NAME=i3MarketNetwork

# Node url
WEB3_PROVIDER=http://XXX:YYYY

# Smart contract address
WEB3_SC_ADDR=0xXXX

# Private key of the account
WEB3_KEY=0xXXX

# Gas limit per transaction
WEB3_GAS=400000
